:root {
  --dark-clr: rgba(20, 49, 83, 1);
  --faden-color: #adb5bd;
  --dark-gray: #f1f3f5;
  --light-gray: #f8f9fa;
  --act-color: #F8A840;
  --white-color: #FFFFFF;
  --bold-font: 'Nunito', sans-serif;
  --normal-font: 'PT Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: var(--bold-font);
}

body {
  line-height: 1.5;
  font-family: var(--normal-font);
}

header {
  height: 100vh;
  width: 100vw;
  background: url("/src/images/banner.jpeg"), linear-gradient(125deg, rgba(20, 49, 83, 1), rgba(20, 49, 83, 0.75), rgba(20, 49, 83, 0.10));
  background-blend-mode: overlay;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: bottom-right;
  color: #fff;
  display: flex;
}

nav {
  min-width: 100vw;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 0.9rem 0.6rem;
  height: 8vh;
  width: 100%;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  top: 0;
  left: 0;
}

nav .second-nav-section {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
}

nav.color {
  background: var(--dark-clr);
}

nav .nav-links {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--dark-clr);
  padding: 1rem;
  left: -100%;
  top: 0;
  z-index: 20;
  transition: all 0.90s;
}

.nav-links.open {
  left: 0;
}

.nav-links .close-icon-cont {
  height: 10%;
}

.nav-links ul {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-position: inside;
}

.nav-links ul li {
  list-style-type: none;

}

.cart-icon-section {
  position: relative;
  height: 100%;
  width: auto;
}

.cart-counter {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 11px;
  text-align: center;
  z-index: 10;
  display: block;
  color: var(--act-color);
  font-size: 0.9rem;
  background: #fff;
}

.cart-icon-section,
.cart-counter:hover {
  cursor: pointer;
}

.banner {
  height: calc(100vh - 8vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 0 1rem;
}

.banner h1 {
  text-transform: capitalize;
  font-size: 4rem;
}

.banner p {
  font-size: 1.05rem;
}

.banner button {
  width: 8rem;
  height: 50px;
  font-size: 1.4rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  overflow: hidden;
  outline: none;
  border: 2px solid white;
  background: rgba(20, 49, 83, 0.75);
  color: #fff;
  background: linear-gradient(360deg, rgba(20, 49, 83, 0.10), rgba(20, 49, 83, 1), rgba(20, 49, 83, 0.10));
}

.banner button:hover {
  cursor: pointer;
}
/*
.banner button:hover .banner button:after{
  content: "Hey";
  width: 100%;
  height: 100%;
  background: rebeccapurple;
}
*/
.category-product,
.explore,
.war-clothing {
  padding: 4rem 0;
}

.explore .explore-heading {
  color: black;
  text-align: center;
  margin: 0 0 4rem 0;
}

.products-cont {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr;
  padding: 1rem;
}

.product-div {
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 10px 0px rgba(11, 8, 27, 0.16);
  background: #fff;
  padding: 1rem;
  margin: auto;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

}


.product-div .category {
  color: var(--faden-color);
  text-transform: uppercase;

}

.product-div .price {
  color: var(--dark-clr);
}

.product-title {
  color: #738BA7;
  margin: 5px 0;
}

.fave {
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  justify-content: flex-end;
}

.heart {
  color: #738BA7;
  font-size: 2rem;
}

.item-id {
  display: none;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
}

.cart .addToCart {
  display: block;
  height: 50px;
  width: 70%;
  background: var(--act-color);
  border: none;
  outline: none;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem;
  color: #fff;
  font-family: var(--normal-font);
}

.addToCart:hover {
  cursor: pointer;
}

.categories,
.category-section {
  background: #143153;
  padding: 2rem 0;
}

.categories .category-section h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}

.category-tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: .5rem;
}

.category-tab button {
  padding: 0.5rem;
  color: #495057;
  text-transform: capitalize;
  border: none;
  outline: none;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  font-weight: bold;
  font-size: .7rem;
}

.category-tab button.active {
  background: #ced4da;
}

.category-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.category-products div.product-div {
  width: 100%;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  background: #fff;
}

.reviews {
  padding: 2rem 0;
}

.reviews h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 2rem 0;
  color: #738BA7;
}

.reviews-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 460px;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  position: relative;
}

.review {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  color: #738BA7;
}

.slider-navigation {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.8rem 0;
}

.slider-navigation button {
  padding: 0.5rem;
  background: #051C37;
  color: #fff;
  fo6nt-size: 1.5rem;
  width: 80px;
  border: none;
  outline: none;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
}

.review .icon {
  width: 50px;
  height: 50px;
  background: #051C37;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.review .whatTheyBought {
  color: #adb5bd;
  width: 50%;
  text-transform: capitalize;
}

.review .icon .thugmbs {
  font-size: 1.5rem;
}

.obj {
  height: 100%;
  width: 100vw;
  background: #143153;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.obj>div {
  height: 250px;
  width: 100%;
  background: #051C37;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #738BA7;
  padding: 1rem;
  text-align: center;
  gap: 1rem;
}

.obj>div>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.obj img {
  width: 80px;
  height: 80px;
}

.email-capture {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.email-section-title {
  text-transform: uppercase;
  text-align: center;
}

.email-message {
  text-align: center;
}

.countdown-timer {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 0;
  background: #051C37;
  color: #738BA7;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  width: 90%;
  margin: 0 auto;
  margin: 0.8rem;
}

.countdown-timer h1 {
  font-size: 1.2rem;
  text-align: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.form-section input {
  width: 90%;
  height: 50px;
  border: none;
  outline: none;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.form-section input[type="email"] {
  padding: 0 0.4rem;
  background: #738BA7;
  background: lightgray;
  font-size: 1.1rem;
}

.form-section input[type="submit"] {
  background: #051C37;
  color: #738BA7;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.war-clothing .war-heading,
.war-para {
  text-align: center;
}


/*
.war-products > div {
  width: 80vw;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  background: #fff;
}*/

.product-div {
  opacity: 0;
  transition: all 0.3s ease-in;
  transform: translateY(50px);
}

.product-div.shown {
  opacity: 1;
  transform: translateY(0);
}

footer {
  background: #143153;
  color: #fff;
  padding: 1rem 0;
}

.links,
.mission {
  padd3ing: 1rem;
}

.about-company {
  display: grid;
  grid-template-columns: 1fr;
  gridr-gap: 2rem;
}

.about-company div {
  padding: 1rem;
  bordeer: 1px solid red;
}

.mission h1,
.connect-info h1 {
  text-transform: uppercase;
  margin: 0.3rem 0;
}

.connecting-medium {
  padding: 1rem 0;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.platforms {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  background: #fff;
  color: #000;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  margin: auto;
}

.platform {
  background: #143153;
  padding: 1rem;
  color: #fff;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

ion-icon {
  font-size: 1.7rem;
}

#map {
  height: 450px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 1rem;
}

.links div ul {
  list-style-type: none;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.help-links {
  padding: 1rem 0 0 0;
}

.trust_badge {
  width: 90%;
  padding: 0.6rem;
  background: #fff;
  margin: 10px auto;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.trust_badge img {
  width: 100%;
}

.copyright {
  text-align: center;
  text-wrap: balance;
  width: 100vw;
}


.portfolio {
  color: #fff;
  text-decoration: none;
}


/* --------------------------- */

/*      Beginning of cart page      */
.cart-page {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  position: fixed;
  z-index: 500;
  top: 0;
  right: -100%;
  background: var(--dark-gray);
  padding: 0.7rem;
  transition: all 0.8s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.3rem;
}

.cart-page.open {
  right: 0;
}

.cart-head-page {
  height: 5%;
}

.cart-body {
  height: 65%;
}

.cart-footer {
  height: 30%;
}

.details-info {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  text-align: center;
  height: 5vh;
}

.items {
  padditng: 0.2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.items .item-row {
  display: grid;
  background: #fff;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 0.5rem 0;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.cart-quantity>input {
  border: 1px solid #000;
}

.cart-quantity {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-quantity input {
  width: 100%;
  background: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

.cart-quantity input[type="number"] {
  text-align: center;
}

.item-row .item-details {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.item-details .cart-product-image {
  width: 40%;
}

.cart-product-image img {
  width: 100%;
  height: 90px;
  object-fit: cover;
}

.row-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-action button {
  background: none;
  color: #000;
  outline: none;
  padding: 0.3rem;
  border: none;
}

.cart-row {
  width: 90vw;
  height: 10vh;
}

.cart-footer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 35vh;
  padding-top: 0.8rem;
}

.cart-footer .seeMoreSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.8rem 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
}

.seeMoreSection p a,
.all_products_length,
.total_price_value {
  color: var(--act-color);
  text-decoration: none;
}

.cart-footer .checkOutSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  padding: 0.5rem 0;
}

.checkOutSection button {
  padding: 1rem;
  outline: none;
  border: none;
  background: var(--dark-gray);
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  font-size: 1.1rem;
}

.checkOutSection button:last-child {
  background: var(--act-color);
}

.cart-notification {
  text-align: center;
  text-wrap: balance;
  background: #051C37;
  color: #738BA7;
  padding: 1rem 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.incrQtyBtn{
  background: red;
  display: inline-block;
  font-size: 20rem;
  border: 1px solid #000;
  color: red;
}



/*      End of cart page      */

/*-----------------------------*/


@media only screen and (min-width: 480px) {
  header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  nav {
    height: 8vh;
    min-width: 100vw;
  }

  nav .menu-el {
    display: none;
  }

  .first-nav-section {
    width: 60%;
    max-height: 100%;
    position: static !important;
    background: transparent !important;
    order: 1;
  }

  .second-nav-section {
    width: 20%!important;
  }

  .third-nav-section {
    width: 10%;
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.cart-counter{
  width: 20px;
  height: 20px;
  top: 0px;
  left: 45%;
}
  .close-icon-cont {
    display: none;
  }

  .nav-links ul {
    flex-direction: row;
    order: 1 !important;
    align-items: center;
    max-height: 100%;
  }

  .banner {
    height: calc(30vh - 8vh);
    padding-left: 2rem;
  }

  .banner button {
    min-height: 80px;
  }

  .products-cont {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
  }

  .prod4uct-div {
    width: 40vw;
  }

  .product-img {
    height: 300px;
  }

  .category-tab {
    width: 80vw;
    margin: auto;
  }

  .theReview {
    width: 50vw;
    margin: auto;
  }

  .obj {
    flex-direction: row;
    padding: 4rem;
  }

  .countdown-timer {
    width: 100%;
    margin: 0.8rem 0;
  }

  .email-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 1rem;
  }

  .email-section input[type="submit"] {
    text-align: center;
  }

  .email-section>div {
    box-shadow: 0px 0px 10px 0px rgba(11, 8, 27, 0.16);
    padding: 1rem;
    border: 2px solid #143153;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    border-radius: 0.3rem;
  }

  .email-section>div p,
  .email-section>div>input {
    text-align: left;
    width: 100%;
  }

  .war-clothing .war-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }

  .war-clothing .war-products>div {
    width: 100%;
  }

  .about-company {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 1rem;
  }

  .about-company div {
    padding: 1rem;
    width: 80%;
    height: 90%;
  }

  .connecting-medium {
    flex-direction: row;
    width: 100vw;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .connecting-medium div {
    height: 450px;
  }

  .platforms {
    flex-direction: column;
    min-width: 10vw;
    gap: 1rem
  }

  .platform {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  #map {
    min-width: 80vw;
  }

  .links {
    flex-direction: row;
    padding: 2rem;
    align-items: center;
    justify-content: space-evenly;
  }

  .links div {
    width: 50vw;
  }

  .cart-page {
    width: 50vw;
  }
}